:root {
    --basic-color: #282828;
    --white-color: #fff;
    --black-color: #000;
    --sub-basic-color: #262626;
    --green-basic-color: #65bd7d;
    --preview-height: 54px;
}

/* Set up */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--white-color-color);
    text-rendering: optimizeLegibility;
}

/* Tag */
a {
    display: inline-block;
}

a, a:hover, a:active{
    text-decoration: none;
    color: var(--basic-color);
}

ul {
    list-style: none;
    padding: 0;
}

img {
    object-fit: contain;
}

/* Block */
.block-setup {
    width: 100%;
    max-width: 1331.2px;
    margin-left: calc(-4% / 2 );
    margin-right: calc(-4% / 2 );
    margin: 0 auto;
}


/* Text align */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}


/* Text color */
.text-basic {
    color: var(--basic-color);
}

.text-white {
    color: var(--white-color);
}


/* Background color */
.background-basic {
    background-color: var(--basic-color);
}




/* Font size */
.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-18 {
    font-size: 18px;
}

.font-19 {
    font-size: 19px;
}

.font-60 {
    font-size: 60px;
}

/* Font weight*/
.f-weight-500 {
    font-weight: 500;
}

.f-weight-600 {
    font-weight: 600;
}

.f-weight-700 {
    font-weight: 700;
}

/* Line height */
.line-38 {
    line-height: 38px;
}


/* Padding */
.p-left-8 {
    padding-left: 8px;
}

.p-0-16 {
    padding: 0 16px;
}



.p-20 {
    padding: 20px;
}

.p-50 {
    padding: 50px;
}

.p-8-18 {
    padding: 8px 18px;
}

.p-0-20 {
    padding: 0 20px;
}

.p-5-20 {
    padding: 5px 20px;
}

.p-0-30 {
    padding: 0 30px;
}

.p-30-16 {
    padding: 30px 16px;
}



/* margin */
.m-right-30percent {
    margin-right: 30%;
}

.m-0-auto {
    margin: 0 auto;
}
.m-right-5 {
    margin-right: 5px;
}

.m-right-10 {
    margin-right: 10px;
}


.m-20-0 {
    margin: 20px 0;
}

.m-bot-20 {
    margin-bottom: 20px;
}

.m-bot-23 {
    margin-bottom: 23px;
}

.m-bot-50 {
    margin-bottom: 50px;
}

.m-bot-38 {
    margin-bottom: 38px;
}

.m-bot-95 {
    margin-bottom: 95px;
}

.m-bot-125 {
    margin-bottom: 125px;
}

/* flex */
.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.d-flex-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.d-flex-right-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.d-flex-between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.d-flex-between-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.d-flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.d-flex-col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.d-flex-col-center {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.d-flex-col-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: start;
}

.d-flex-1 {
    flex: 1;
}

/* Border */
.border-ra-4 {
    border-radius: 4px;
}

.border-ra-5 {
    border-radius: 5px;
}

.border-ra-50percent {
    border-radius: 50%;
}

/* Width */
.width-20 {
    width: 20%;
}

.width-33_33 {
    width: 33.3333;
}

.width-40 {
    width: 40%;
}

.width-50 {
    width: 50%;
}

.width-60 {
    width: 60%;
}

.width-80 {
    width: 80%;
}

.width-100 {
    width: 100%;
}

/* css public */
.btn {
    padding: 20px 31px;
    border-radius: 5px;
    font-weight: 600;
    line-height: 1;
}

.btn-icon {
    font-size: 1.6rem;
    margin-left: 12px;
}

.btn:hover {
    color: var(--white-color);
}

.btn--basic {
    background-color: var(--basic-color);
    color: var(--white-color);
}

.btn--basic-green {
    background-color: var(--green-color);
}

.btn--basic-green:hover {
    background-color: #469b4d;
}

/* Title Section */

.title-section {
    text-align: center;
    width: 66,66%;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.title-section__img {
    margin: 0 auto;
    width: 75px;
    margin-bottom: 15px;
}

.title-section__title {
    font-size: 4.8rem;
    font-weight: 700;
    margin-bottom: 31px;
}

.title-section__text {
    font-size: 1.9rem;
    margin-bottom: 20px;
}

/* Background Title  Section*/
.background-title {
    padding: 110px 30px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://avada.theme-fusion.com/wp-content/uploads/2021/07/shape-bg-9.svg);
}

.background-title__content {
    margin: 0 25%;
}


 
