/* display */
.hide {
    display: none;
}

.show {
    display: block;
}

/* Inner */
.inner {
    width: 100%;
    max-width: 1331.2px;
    margin: 0 auto;
    padding: 0 30px;
}

.inner-2 {
    width: 100%;
    max-width: 1331.2px;
    margin: 0 auto;
}

.inner-3 {
    width: 100%;
    margin: 0 auto;
}

/* Title Section */
.main-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--basic-color);
    margin-left: auto;
    margin-right: auto;
}

.main-title__img {
    margin: 0 auto;
    width: 75px;
    margin-bottom: 15px;
}

.main-title__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 1.2;
}

.main-title__text {
    font-size: 19px;
    margin-bottom: 20px;
}

/* Background Title  Section*/
.background-title {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 110px;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../vendors/img/shape-bg-9.svg);
}

/* Btn */
.btn {
    display: inline-block;
    padding: 20px 31px;
    border-radius: 5px;
    line-height: 1;
}

.btn-icon-right {
    font-size: 18px;
    margin-left: 0.7em;
    vertical-align: middle;
}

.btn-icon-left {
    font-size: 14px;
    margin-right: 0.7em;
}

.btn:hover {
    color: var(--white-color);
}

.btn--basic {
    background-color: var(--basic-color);
    color: var(--white-color);
}

.btn--basic-green {
    background-color: var(--green-basic-color);
    color: var(--white-color);
}

.btn--basic-green:hover {
    background-color: #54b66e;
}

/* Scroll to Top */
.scrollTopBtn {
    width: 60px;
    height: 60px;
    color: var(--white-color);
    background-color: var(--green-basic-color);
    position: fixed;
    right: 16px;
    bottom: 16px;
    border-radius: 50%;
    box-shadow: 0 1px 2px 2px rgba(101, 189, 125, 0.5);
    z-index: 10;
    display: none;
}

.scrollTopBtn:active {
    opacity: 0.8;
}

.scrollTopBtn i {
    font-size: 26px;
    color: var(--white-color);
}

/* Change Title */
.change-word__block {
    display: flex;
    max-width: fit-content;
}

.change-word {
    border-right: 2px solid var(--basic-color);
    padding-right: 16px;
    white-space: nowrap;
    overflow: hidden;
    animation: fadeInWord 3s infinite alternate;
}