#app {
    overflow: hidden;
    color: var(--basic-color);
    margin: 0 -30px;
}


/* Preview */
.preview {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--preview-height);
    line-height: var(--preview-height);
    z-index: 10;
}


.preview__logo-link {
    top: 18px;
    height: 18px;
    width: 152px;
    background: url(https://public-assets.envato-static.com/assets/logos/envato_market-a5ace93f8482e885ae008eb481b9451d379599dfed24868e52b6b2d66f5cf633.svg);
    background-size: 152px 18px;
}

.preview-buy__btn {
    background-color: #83B440;
    box-shadow: 0 2px 0 #6f9a37;
    line-height: 1.5;
}


.preview-buy__btn:hover,
.preview-buy__btn:active {
    background-color: #7aa93c;
    color: var(--while-color);
}


/* Header */
#header {
    margin-top: var(--preview-height);
}

.header__logo {
    width: 20%;
}

.header__logo-img {
    max-width: 165px;
}

.header__navbar {
    margin: 0 3.2%;
    width: 60%;
}

.header__btn-box {
    width: 20px;
}

.header__btn {
    margin: 0 9.6%;
    border: 2px solid var(--basic-color);
}

.navbar__item:hover,
.header__btn:hover {
    background-color: rgba(128, 128, 128, 0.1);
}

/* Intro Section */
.intro-section__content {
    width: 40%;
}

.intro-section__text {
    margin-right: 30%;
}

.intro-section__picture {
    width: 60%;
}


/* For Section */

.for-section__box {
    width: 33.33%;
}

.for-section__content {
    padding: 65px 55px 55px;
}

.for-section__content-heading {
    text-transform: uppercase;
}

.for-section__content-img {
    max-height: 190px;
}

.for-section__btn {
    color: var(--white-color);
    font-size: 13px;
    font-weight: 600;
    border-radius: 8px;
    margin-left: 7px;
    margin-bottom: 7px;
    padding: 10px 14px;
}

.btn--yellow {
    background-color: #cecb10;
}

.btn--green {
    background-color: #46a846;
}

.btn--blue {
    background-color: #6f71e7;
}

.for-section--yellow {
    background-color: #ffe979;
}

.for-section--green {
    background-color: #b7f598;
}

.for-section--blue {
    background-color: #7ed5f0;
}


/* Tab Section */
.tabbar__list {
    width: 30%;
}

.tabbar__item {
    margin-bottom: 15px;
    border-radius: 12px;
    border: 1px solid rgba(242, 243, 245, 0);
}


.tabbar__link {
    padding: 19px 70px 19px 30px;
}



.tabbar__item:hover,
.tabbar__item--active {
    background-color: #f4f5f7;
    color: var(--text-color);
}

.tabbar__img-link {
    width: 70%;
}


/* All-in-one Section */

.all-in-one__box {
    width: 33.33%;
}


.all-in-one__picture {
    flex: 1;
    margin-bottom: 30px;
}

.discover-section__img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}


/* Background Section */
.background-section__box {
    width: 25%;
}

.background-section__content {
    margin: 0 7.68%;
}


.background-section__img {
    height: 76px;
}

.background-section__title {
    margin: 32px 0 16px;
}


/* Quote section */
.quote-section {
    background-color: #ffe979;
}

.quote-section__picture {
    width: 45%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://avada.theme-fusion.com/wp-content/uploads/2021/08/testimonial.jpg);
}

.quote-section__content {
    width: 55%;
}

.quote-section__content-box {
    padding: 105px 102px 85px 102px;
}

.quote-section__img {
    width: 35px;
}

.quote-section__link {
    color: rgba(0, 0, 0, 0.69);
}


/* Question Section */
.question-section__item {
    border-bottom: 1px solid #cfcfcf;
}


.question-section__question {
    line-height: 1.3;
}


/* Hide content */
.hide-content {
    display: none;
}

.hide-content__link:hover {
    color: var(--green-basic-colors);
}


/* Final Section */
.final-section {
    background-color: #b7f598;
}

.final-section__content-box {
    width: 50%;
}

.final-section__content {
    padding: 100px 0 100px 15%;
    line-height: 1.6;
}


.final-section__picture {
    width: 50%;
    max-width: 522px;
}

.final-section__img {
    max-width: 100%;
    height: auto;
}



/* Footer */
.footer__content {
    padding: 120px 30px 90px;
}

.footer__logo {
    width: 80px;
}


.footer__text a {
    text-decoration: underline;
}

.footer__copyright {
    margin: -8px 0 42px;
    line-height: 24px;
}


.footer-socials__link {
    width: 50px;
    height: 50px;
    background-color: #383838;
}

.footer-socials__icon {
    line-height: 50px;
}

.footer-socials__link:hover {
    background-color: var(--green-basic-color);
}


/* Fixed-btn */
.fixed-btn {
    box-shadow: 0 10px 20px 5px rgb(0 0 0 / 15%);
    background-color: var(--while-color);
    justify-content: space-between;
    padding: 8px 6px;
    width: 66px;
    height: 66px;
    cursor: pointer;
    border-radius: 6px;
    z-index: 2;
}

.fixed-btn__link {
    font-size: 1.2rem;
    line-height: 1;
    font-weight: 700;
    font-family: inherit;
    letter-spacing: normal;
    color: var(--text-color);
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fixed-btn__svg svg {
    transform: translateX(0) scaleX(-1);
    left: 0;
    fill: #33475b;
    transition: transform .2s cubic-bezier(.21, .6, .35, 1);
    width: 32px;
}

.prebuilts__btn {
    position: fixed;
    top: 150px;
    right: 15px;
}

.buynow__btn {
    position: fixed;
    top: 222px;
    right: 15px;

}



/* Message box */
.message {
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    z-index: 3;
}

.message__content {
    background-color: var(--while-color);
    cursor: pointer;
    position: relative;
    border: 1px solid #eaf0f6;
    box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
    border-radius: 4px;
    width: 240px;
    padding: 24px 16px 16px;
    margin-right: 16px;
}

.message__heading {
    position: absolute;
    top: -24px;
    right: 50%;
    transform: translateX(50%);
}

.message__img {
    width: 48px;
}

.message__icon-close {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    background-color: var(--while-color);
}

.message__icon-close svg {
    width: 16px;
    height: 16px;
    fill: rgb(124, 152, 182);
}

.message__text {
    font-size: 1.4rem;
    margin-top: 4px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: rgb(51, 71, 91);
    line-height: 24px;
}


.message-btn {
    margin-left: auto;
    border: none;
    padding: 16px;
    background-color: transparent;
}

.message-btn__svg {
    font-size: 1.6rem;
    color: var(--while-color);
    padding: 16px;
    background-color: var(--green-color);
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 6px, rgb(0 0 0 / 20%) 0px 2px 24px;
    transition: box-shadow 150ms ease-in-out 0s;
    position: relative;
    height: 60px;
    width: 60px;
    border-radius: 50%;

}